<div class="container">
  <div class="row">
    <div class="col-xxl-3 search-form-0 text-center form-wrapper mt-5 p-3 ">
      <h5>ユーザー詳細検索</h5>
      <%= search_form_for @q, url: search_users_path do |f| %>
        <p class="mb-2 mt-4"><%= f.label :name, 'ユーザー名'%></p>
        <%= f.text_field :name_cont, class: "form-control w-50 mx-auto"  %>
        <p class="my-2"><%= f.label :name, '都道府県' %></p>
        <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, {include_blank: ""}, {class: "form-select w-25 mx-auto"} %>
        <p class="my-2"><%= f.label :age, '年齢' %></p>
        <%= f.number_field :age_gteq, class: "form-control w-25 mx-auto d-inline-block" %> ~
        <%= f.number_field :age_lteq, class: "form-control w-25 mx-auto d-inline-block" %>歳
        <p class="my-2"><%= f.label :sex, '性別' %></p>
        <%= f.select :sex_eq, [["男性","男性"],["女性","女性"],["その他","その他"]], {include_blank: ""}, {class: "form-select w-25 mx-auto"} %>
        <p class="my-2"><%= f.label :part, 'パート' %></p>
        <%= f.select :user_parts_part_id_eq, @parts.map {|part| [part.name, part.id]}, {include_blank: ""}, {class: "form-select w-50 mx-auto"} %>
        <%= f.label :priority, 'サブパートを含む' %>
        <%=  f.check_box :user_parts_priority_lteq, {}, 3, 1%><br>
        <p class="my-2"><%= f.label :level, 'レベル' %></p>
        <%= f.select :user_parts_level_eq, [["未経験", 0 ],["初心者", 1 ],["中級者", 2 ],["上級者", 3 ]], {include_blank: ""}, {class: "form-select w-25 mx-auto"} %>
        <p class="my-2"><%= f.label :genre, 'ジャンル' %></p>
        <%= f.select :user_genres_genre_id_eq, @genres.map {|genre| [genre.name, genre.id]}, {include_blank: ""}, {class: "form-select w-75 mx-auto"}%>
        <%= f.label :priority, 'サブジャンルを含む' %>
        <%=  f.check_box :user_genres_priority_lteq, {}, 3, 1%><br>
        <p class="my-2"><%= f.label :motivation, '活動方針' %></p>
        <%= f.select :motivation_eq, [["趣味で楽しく","趣味で楽しく"],["プロを目指す","プロを目指す"],["決めていない","決めていない"]], {include_blank: ""}, {class: "form-select w-50 mx-auto"}%><br>
        <p class="my-2"><%= f.label :original, '楽曲の方針' %></p>
        <%= f.select :original_eq, [["既存曲のコピー","既存曲のコピー"],["オリジナル曲","オリジナル曲"],["決めていない","決めていない"]], {include_blank: ""}, {class: "form-select w-50 mx-auto"}%><br>
        <p class="my-2"><%= f.label :favorite, '好きなアーティスト' %></p>
        <%= f.text_field :favorite_cont, class: "form-control w-50 mx-auto" %>
        <p class="my-2"><%= f.label :want_to_copy, 'コピーしたい楽曲' %></p>
        <%= f.text_field :want_to_copy_cont, class: "form-control w-50 mx-auto" %>
        <p class="my-2"><%= f.label :frequency, '活動頻度' %></p>
        <%= f.select :frequency_eq, [["月１日以下","月１日以下"],["月２〜３日","月２〜３日"],["週１〜２日","週１〜２日"],["週３日以上","週３日以上"]], {include_blank: ""}, {class: "form-select w-50 mx-auto"}%><br>
        <p class="my-2"><%= f.label :available_day, '活動できる日' %></p>
        <%= f.select :available_day_eq, [["平日","平日"],["土日","土日"],["不定","不定"],["いつでも","いつでも"]], {include_blank: ""}, {class: "form-select w-50 mx-auto"} %><br>
        <p class="my-2"><%= f.label :activity_time, '活動できる時間帯' %></p>
        <%= f.select :activity_time_eq, [["午前","午前"],["午後","午後"],["不定","不定"],["いつでも","いつでも"]], {include_blank: ""}, {class: "form-select w-50 mx-auto"} %><br>
        <p class="my-2"><%= f.label :compose, "曲作り" %></p>
        <%= f.radio_button :compose_eq, true %>
        <%= f.label :compose, "できる" %>
        <%= f.radio_button :compose_eq, false %>
        <%= f.label :compose, "できない" %> <br>
        <%= f.submit '検索', id: "search-users", class: "mt-4 btn btn-success" %>
      <% end %>
    </div>
    <div class="col-xxl-8 text-center">
      <div class="tab1 mt-5">
        <div class="row">
          <div class="col tab1__item"><%= link_to "おすすめユーザー", users_path, class: "tab1__link on" %></div>
          <div class="col tab1__item"><%= link_to "おすすめバンド", bands_path, class: "tab1__link" %></div>
        </div>
      </div>
      <div class="users-wrapper border p-3">
        <%= render partial: 'users/profile', locals: { users: @match_ages, title: "歳の近いユーザー", link: match_ages_users_path } %>
        <%= render partial: 'users/profile', locals: { users: @match_levels, title: "レベルの近いユーザー", link: match_levels_users_path } %>
        <%= render partial: 'users/profile', locals: { users: @match_genres, title: "ジャンルが同じなユーザー", link: match_genres_users_path } %>
        <%= render partial: 'users/profile', locals: { users: @match_policies, title: "活動スタイルが合いそうなユーザー", link: match_policies_users_path } %>
        <%= render partial: 'users/profile', locals: { users: @match_schedules, title: "予定が合いそうなユーザー", link: match_schedules_users_path } %>
      </div>
    </div>
  </div>
</div>
