<%= render "devise/shared/error_messages", resource: resource %>
<div class="top-wrapper">
  <div class="container">
    <div class="row">
      <div class="top-text col mx-auto">
        <h1 class="top-title fw-bold">BANDAPP</h1>
        <h3 class="top-discription">ここにテキストを入力</h3>
      </div>
      <div class="login-form col-xl-7">
        <div class="card w-50 mx-auto shadow border border-1">
          <div class="card-body mx-2">
            <%= form_with model: @user, url: password_path(@user), local: true do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <%= f.hidden_field :reset_password_token %>
              <h5>パスワード再設定</h5>
              <div class="form-group my-4">
                <%= f.password_field :password, autofocus: true, class: "form-control-lg w-100 border border-1", placeholder: "新しいパスワード"%>
              </div>
              <h5>新しいパスワード(確認)</h5>
              <div class="form-group my-4">
                <%= f.password_field :password_confirmation, autofocus: true, class: "form-control-lg w-100 border border-1", placeholder: "もう一度入力してください"%>
              </div>
              <div class="action my-3">
                <%= f.submit "設定完了", class: "btn btn-secondary btn-block btn-lg w-100" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
