<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <% if user_signed_in? %>
      <%= link_to users_path do %>
        <%= image_tag 'logo.png', width: "27%" %>
      <% end %>
    <% else %>
      <%= link_to "/" do %>
        <%= image_tag 'logo.png', width: "27%" %>
      <% end %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if user_signed_in? %>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% if current_user.image.attached? %>
                <%= image_tag current_user.image, size: "40×40", class: "avatar rounded-circle"%>
              <% else %>
                <%= image_tag 'default.png', size: "40×40", class: "avatar rounded-circle"%>
              <% end %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><%= link_to "マイページ", user_path(current_user.id), class: "dropdown-item" %></li>
              <li><%= link_to "アカウント設定", edit_user_registration_path, class: "dropdown-item" %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, data: { "turbo-method": :delete }, class: "dropdown-item" %></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link mt-1 fs-5" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              バンド
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><%= link_to "所属バンド一覧", user_bands_bands_path, class: "dropdown-item" %></li>
              <li><%= link_to "スカウト一覧", scouts_path, class: "dropdown-item" %></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <%= link_to "お気に入り", favorites_path, class: "nav-link mt-1 fs-5" %>
          </li>
          <li class="nav-item">
            <%= link_to notifications_path, class: "nav-link notification d-inline-block mt-1 fs-5" do %>
            通知
            <% if current_user.notifications.where(read: false).present? %>
              <i class="fas fa-circle fa-xs text-success"></i>
            <% end %>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</nav>
