<%= render partial: 'shared/banners', locals: { title: "届いたスカウト一覧"} %>
<div class="container-fluid">
  <div class="row">
    <div class="side-menu col-xl-3 my-5">
      <div class="accordion w-75 mx-auto" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              届いたスカウト
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <div class="scout-links"><%= link_to "新規バンド結成", scouts_path, class: "side-memu-links" %></div>
              <div class="scout-links"><%= link_to "バンドからのお誘い", received_offer_scouts_path, class: "side-memu-links" %></div>
              <div class="scout-links"><%= link_to "あなたのバンドへの加入申請", received_join_scouts_path, class: "side-memu-links active" %></div>
              <div class="scout-links"><%= link_to "バンド合併申請", received_marge_scouts_path, class: "side-memu-links" %></div>
            </div>
          </div>
        </div>
        <%= render partial: 'scouts/send_accordion' %>
      </div>
    </div>
    <div class="container col-xl-8 mt-5">
      <div class="row search-wrapper p-4">
        <% if @scouts.present? %>
          <% @scouts.each do |scout| %>
            <div class="col-xxl-3 col-lg-4 col-sm-6 mb-3">
              <%= link_to user_path(scout.user.id), class: "text-decoration-none text-dark" do %>
                <div class="card">
                  <%= render partial: 'users/avatar', locals: { user: scout.user, size: "100×100" } %>
                  <div class="card-body profile">
                    <p class="card-text"><%= scout.user.name %><br>さん(<%= scout.part.name %>)からのスカウト</p>
                    <p class="card-text">加入希望バンド:<%= scout.scouted_band.name %></p>
                    <p class="card-text">ひとこと:<%= scout.message %></p>
                    <p class="card-text my-1">日時:<%= l scout.created_at %></p>
                    <%= link_to "承諾", approve_join_scout_path(scout.id), data: { turbo_confirm: "スカウトを承認します。よろしいですか？", turbo_method: :delete }, class: "btn btn-success" %>
                    <%= link_to "拒否", refuse_scout_path(scout.id), data: { turbo_confirm: "スカウトを断りますか？", turbo_method: :delete }, class: "btn btn-secondary" %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <p class="my-5">スカウトはありません</p>
        <% end %>
        <%= paginate @scouts, theme: "bootstrap-5" %>
      </div>
    </div>
  </div>
</div>
