<%= render partial: 'shared/banners', locals: { title: "申請したスカウト一覧"} %>
<div class="container-fluid">
  <div class="row">
    <div class="side-menu col-xl-3 my-5">
      <div class="accordion w-75 mx-auto" id="accordionPanelsStayOpenExample">
        <%= render partial: 'scouts/receive_accordion' %>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
              送ったスカウト
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <div class="scout-links"><%= link_to "新規バンド結成", send_new_scouts_path, class: "side-memu-links" %></div>
              <div class="scout-links"><%= link_to "あなたのバンドにお誘い", send_offer_scouts_path, class: "side-memu-links" %></div>
              <div class="scout-links"><%= link_to "相手バンドへの加入申請", send_join_scouts_path, class: "side-memu-links active" %></div>
              <div class="scout-links"><%= link_to "バンド合併申請", send_marge_scouts_path, class: "side-memu-links" %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container col-xl-8 mt-5">
      <div class="row search-wrapper p-4">
        <% if @scouts.present? %>
          <% @scouts.each do |scout| %>
            <div class="col-xxl-3 col-lg-4 col-sm-6 mb-3">
              <%= link_to band_path(scout.scouted_band.id), class: "text-decoration-none text-dark" do %>
                <div class="card">
                  <%= render partial: 'bands/avatar', locals: { band: scout.scouted_band, size: "100×100" } %>
                  <div class="card-body profile">
                    <p class="card-text"><%= scout.scouted_band.name %><br>へ加入申請</p>
                    <span class="card-text">あなたのパート:<%= scout.part.name %></span>
                    <p class="card-text">ひとこと:<%= scout.message %></p>
                    <p class="card-text my-1">日時:<%= l scout.created_at %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <p class="my-5">スカウトはありません</p>
        <% end %>
        <%= paginate @scouts, theme: "bootstrap-5" %>
      </div>
    </div>
  </div>
</div>
