<div class="wrapper mx-auto">
  <%= form_with model: @band, local: true do |f| %>
  <div class="form-wrapper container my-5 mx-auto">
    <%= render partial: 'shared/error_messages', locals: { resource: @band } %>
    <div class="row">
      <div class="left-contents col-xl-6">
        <div class="card mt-5 mx-auto w-75">
          <div class="card-body">
            <% if @band.image.attached? %>
             <%= image_tag @band.image, size: "150x150", class: "avatar rounded-circle my-3"%>
             <%= f.submit "アイコンを削除", name: "delete_image", data: { turbo_confirm: "削除しますか？", turbo_method: :delete }, class: "btn btn-secondary d-block my-2 mx-auto" %>
            <% else %>
             <%= image_tag 'default_band.png', size: "150x150", class: "avatar rounded-circle my-3"%>
            <% end %>
            <%= f.file_field :image, accept: "image/*", class: "d-block mx-auto" %>
            <h5 class= "mt-2">バンド名</h5>
            <p><%= f.text_field :name, class: "form-control" %></p>
            <h5>地域</h5>
            <p><%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "未選択"}, {class: "form-select"} %></p>
            <h5>バンド紹介</h5>
            <p><%= f.text_area :introduction, class: "form-control" %></p>
          </div>
        </div>
      </div>
      <div class="right-contents col">
        <div class="card mt-5 mx-auto w-75">
          <div class="card-body">
            <%= f.fields_for :band_genres, @band.band_genres do |band_genre| %>
              <div class="genres my-2">
                <h5><%= "ジャンル#{band_genre.index + 1}" %></h5>
                <%= band_genre.select :genre_id, @genres.map {|genre| [genre.name, genre.id]}, {}, {class: "form-select genre-name"}%>
                <%= band_genre.text_field :other_genre, placeholder: "ジャンル名を入力してください", class: "form-control other-genre" %>
                <%= band_genre.hidden_field :band_id %>
              </div>
            <% end %>
            <h5>活動方針</h5>
            <%= f.select :motivation, [["趣味で楽しく","趣味で楽しく"],["プロを目指す","プロを目指す"],["決めていない","決めていない"]], {include_blank: "未選択"}, {class: "form-select"}%>
            <h5 class="mt-2">楽曲の方針</h5>
            <%= f.select :original, [["既存曲のコピー","既存曲のコピー"],["オリジナル曲","オリジナル曲"],["決めていない","決めていない"]], {include_blank: "未選択"}, {class: "form-select"}%>
            <h5>好きなアーティスト</h5>
            <%= f.text_field :favorite, class: "form-control" %>
            <h5 class="mt-2">コピーしたい楽曲</h5>
            <%= f.text_field :want_to_copy, class: "form-control" %>
            <h5 class="mt-2">活動頻度</h5>
            <%= f.select :frequency, [["月１日以下","月１日以下"],["月２〜３日","月２〜３日"],["週１〜２日","週１〜２日"],["週３日以上","週３日以上"]], {include_blank: "未選択"}, {class: "form-select"}%>
            <h5 class="mt-2">活動できる日</h5>
            <%= f.select :available_day, [["平日","平日"],["土日","土日"],["不定","不定"],["いつでも","いつでも"]], {include_blank: "未選択"}, {class: "form-select"}%>
            <h5 class="mt-2">活動できる時間</h5>
            <%= f.select :activity_time, [["午前","午前"],["午後","午後"],["不定","不定"],["いつでも","いつでも"]], {include_blank: "未選択"}, {class: "form-select"}%>
          </div>
        </div>
        <div class="my-3">
          <%= f.submit "登録完了", class: "btn btn-secondary" %>
          <%= link_to "バンド詳細に戻る", band_path, class: "btn btn-outline-secondary"%>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
