
<div class="container">
  <div class="row">
    <div class="col mx-auto mt-5 bg-light">
      <div class="my-5">
        <p class="text-center fs-1 ">アプリ名</p>
        <p class="text-center text-break fs-2">ここに文を入れる。</p>
      </div>
    </div>
    <div class="col-sm-5 mx-auto mt-5">
      <div class="card mx-auto w-75 text-center">
        <div class="card-body">
          <h3 class="mt-1 mb-3">ログイン</h3>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email, "メールアドレス", :class => "form-label mb-3" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control mb-3" %>
          </div>

          <div class="form-group my-3">
            <%= f.label :password, "パスワード", :class => "form-label" %>
            <%= f.password_field :password, :class => "form-control" %>
            <% if devise_mapping.rememberable? %>
          <div class="form-check mt-2 mb-3 text-start">
            <%= f.check_box :remember_me, :class => "form-check-input" %>
            <%= f.label :remember_me, "ログインを記憶", :class => "form-check-label" %>
          </div>
          <% end %>
          </div>

          <div class="actions mb-3">
            <%= f.submit "ログイン", :class => "btn btn-primary btn-block" %>
          </div>
          <%= link_to "パスワードを忘れた場合", new_user_password_path, :class => "text-decoration-none" %>
          <% end %>
          <div class="small text-muted text-center mt-4">初めての方はこちら</div>
          <%= link_to "アカウントを作成", new_user_registration_path, :class => "btn btn-light btn-block border mt-1" %>
        </div>
      </div>
    </div>
  </div>
</div>
